*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.banner{
    background-image: url('images/banner/banner3.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;    
}
.banner_content{
    width: 50%;
    color: white;
    padding: 0 150px 0 100px;
}
.banner_title{
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.banner_desc{
    margin-bottom: 25px;
}
.banner_btn{
    padding: 20px 25px;
    border: 0;
    border-radius: 6px;
    
}

/* ----------------------- my failure section ----------------------- */

.My_failures{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 130px;
}